<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.6" />
        <title><%= htmlWebpackPlugin.options.title %> - <%= htmlWebpackPlugin.options.version %></title>
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <h1><%= htmlWebpackPlugin.options.title %></h1>
        <h3><%= htmlWebpackPlugin.options.version %></h3>
        <p>Simple chess engine written in TypeScript. For now, 
            there is no AI.  Both sides are human-controlled.</p>
        <canvas id="chess_board" width="940" height="768"></canvas>
        <img id="pieces_img" src="./pieces.png" class="hidden">
    </body>
</html>
