/**
 * HTML Elements
 */
 body {
    background-color: #121212;
    color: #919191;
    font-family: sans-serif;
}

button {
    background-color: #333;
    color: #919191;
    margin: 5px;
    border: solid 1px #555;
    padding: 5px;
    border-radius: 5px;
}

button:active {
    background-color: #121212;
}

button > span.symbol {
    font-size: 28px;
    vertical-align: middle;
    line-height: 0;
}

p {
    max-width: 940px;
    margin: 10px auto;
    line-height: 1.5em;
}

/**
 * Classes
 */
.boardContainer {
    display: inline-block;
    margin: 10px;
    width: 675px;
}

.center {
    text-align: center;
}

.code {
    background-color: #333;
    font-family: Courier;
}

.colLeft {
    float: left;
    width: 25%;
}

.colRight {
    float: right;
    width: 75%;
}

.colLeft h4, .colRight h4 {
    text-align: center;
    margin: 0 0 5px 0;
}

.file {
    width: 80px;
    float: left;
}

.colLeft50, .colRight50 {
    width: 50%;
}
.colLeft50 h4, .colRight50 h4 {
    margin-bottom: 5px;
}
.colLeft50 {
    float: left;
}
.colRight50 {
    float: right;
}

.rank {
    height: 80px;
    line-height: 80px;
}

.row {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.topMsg {
    color: #ccc;
}

.undoBtn {
    background-color: #c00;
    color: #ccc;
}

.undoBtn:active {
    background-color: #500;
}

/**
 * IDs
 */
#black_captures, #white_captures {
    margin-left: 20px;
    max-width: 311px;
    min-height: 80px;
}
#black_captures {
    background-color: #333;
}
#white_captures {
    background-color: #919191;
}

#chess_board {
    display: inline;
    margin: 10px 0 0 0;
    border: solid 1px #999;
}

#file_row {
    margin-left: 20px;
}

#pieces_img {
    display: none;
}

#rank_col {
    float: left;
    margin: 11px 0 0 0;
    width: 20px;
}

#score_box {
    padding: 10px;
    text-align: left;
    background-color: #212121;
}

#score_box > .teamScore {
    display: block;
}

#status_box {
    height: 75px;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid 1px #999;
    color: #555;
    text-align: center;
    font-size: 16px;
}
