/**
 * HTML Elements
 */
a:link, a:visited, a:active {
    color: #900;
    text-decoration: none;
}
a:hover {
    color: #c00;
    text-decoration: underline;
}

 body {
    background-color: #121212;
    color: #919191;
    font-family: sans-serif;
}

button {
    background-color: #333;
    color: #919191;
    margin: 5px;
    border: solid 1px #555;
    padding: 5px;
    border-radius: 5px;
}

button:active {
    background-color: #121212;
}

button > span.symbol {
    font-size: 28px;
    vertical-align: middle;
    line-height: 0;
}

h1, h2, h3 {
    text-align: center;
}

p {
    max-width: 940px;
    margin: 10px auto;
    line-height: 1.5em;
    text-align: justify;
}

/**
 * Classes
 */
.center {
    text-align: center;
}

.code {
    background-color: #333;
    font-family: Courier;
}

.hidden {
    display: none;
}

/**
 * IDs
 */
#chess_board {
    display: block;
    margin: 10px auto;
    border: solid 1px #999;
}

#pieces_img {
    display: none;
}
